{% extends "layout.html" %}
{% block content %}
<br><br>

<div class="container-fluid">
	<div class="container">

		<div class="row">

			<form method="POST" action="">
				{{ form.hidden_tag() }}
			<div class="col-md-12">
				<div class="mb-3">
					<div class="form-group">
						{{ form.title.label(class="form-control-label") }}

						{{ form.title(class="form-control form-control-lg ") }}

					</div>
					<br>
					 <div class="form-group">
						{{ form.content.label(class="form-control-label") }}

						{{ form.content(class="form-control form-control-lg ") }}

					</div>
					<br>
					

				  	<div class="d-grid gap-2">
  						
					{{ form.submit(class="form-control form-control-lg ") }}
					<div class="form-group">

				</div>
  					</div>

				</div>
			</div>
		</form>
			

		</div>

	</div>
</div>

{% endblock %}